/*Icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700&display=swap');

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700 !important;
    color: var(--greyBlue) !important;
}

h1 {    
    font-size: 48px !important;    
}

h2 {    
    font-size: 32px !important;
}

h3 {    
    font-size: 28px !important;   
}

h4 {    
    font-size: 18px !important;  
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f24 {
    font-size: 24px;
}

.f36 {
    font-size: 36px;
}

.f-bold {
    font-weight: 700 !important;
}

.f-normal {
    font-weight: 400 !important;
}

.f-italic {
    font-style: italic !important;
}

/*Colors*/
:root {
    --iconColor: #A0BCD5;
    --blue: #1977CC;
    --lightBlue: #298CE5;
    --greyBlue: #2C4964;
    --darkBlue: #082744;
    --greyTitle: #343A40;
    --textGrey: #848484;
    --highlightGrey: #444444;
    --black: #000;
    --white: #fff;
}

.color-blue {
    color: var(--blue) !important;
}

.color-lightblue {
    color: var(--lightBlue) !important;
}

.color-greyblue {
    color: var(--greyBlue) !important;
}

.color-darkblue {
    color: var(--darkBlue) !important;
}

.color-greytitle {
    color: var(--greyTitle) !important;
}

.color-grey {
    color: var(--textGrey) !important;
}

.color-highlightgrey {
    color: var(--highlightGrey) !important;
}

.color-black {
    color: var(--black) !important;
}

.color-white {
    color: var(--white) !important;
}

/*Common Classes*/

a {
    text-decoration: none !important;    
}

.hover-transition {
    transition: ease 0.5s;
}

.boxed-layout {
    max-width: 1320px;
}

/*Buttons and Links*/

.btn-common {
    color: var(--white) !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-align: center !important;
    padding: 6px 24px !important;    
    border-radius: 50px !important;    
    width: 170px !important;
    display: block !important;
}

.btn-short {
    color: var(--white) !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    text-align: center !important;
    padding: 12px 30px !important;    
    border-radius: 50px !important;        
    display: block !important;
}


.btn-blue {
    background: var(--blue);    
}

.btn-blue:hover {
    background: var(--lightBlue);
    color: var(--white);
}

.btn-lightblue {
    background: var(--lightBlue);    
}

.btn-lightblue:hover {
    background: var(--white);
    color: var(--blue);
}

.link-common {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;    
    font-size: 15px;
}

.link-bold {
    color: var(--darkBlue);
}

.link-bold:hover {
    color: var(--blue);    
}

.link-regular {
    color: var(--darkBlue) !important;
    font-weight: 400 !important;
}

.link-regular:hover {
    color: var(--blue) !important;
}

/*Circle Icons*/

.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle-icon-big {
    border: 1px solid var(--iconColor);
    width: 64px;
    min-width: 64px;
    height: 64px;
    min-height: 64px;    
}

.circle-icon-big i {
    font-size: 52px;
}

.circle-icon-big.blue,
.circle-icon-big.white:hover {
    background: var(--blue);
    color: var(--white);
    border-color: var(--blue);
}

.circle-icon-big.white,
.circle-icon-big.blue:hover {
    border-color: var(--iconColor);
    background: var(--white);
    color: var(--blue);    
}

.circle-icon-medium {
    border: 1px solid var(--blue);
    background: var(--blue);
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;    
}

.circle-icon-medium i {
    font-size: 24px;
    color: var(--white);
}

.circle-icon-small {    
    background: var(--iconColor);
    color: var(--white);
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;    
}

.circle-icon-small i {
    font-size: 16px;
}

.circle-icon-small.blue:hover {
    background: var(--blue);
    border-color: var(--blue);
}

/*Top Bar*/

.top-bar {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F4FAFF 100%);
}

.top-bar-contact a {
    margin-right: 15px;
}

.top-bar-contact i,
.top-bar-social i {
    margin-right: 15px;
}

.top-bar .row {
    height: 40px;    
}

/*Nav Bar*/

nav {
    background: var(--white) !important;
    height: 100px !important;
}


.navbar-brand img {
    width: 70px;
    height: 29px;
}

.nav-link.active {
    color: var(--blue) !important;
    border-bottom: 2px solid var(--blue);    
}

.navbar-nav li {
    margin-right: 30px;
}

