/*Icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700&display=swap');

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700 !important;
    color: var(--greyBlue) !important;
}

h1 {    
    font-size: 48px !important;    
}

h2 {    
    font-size: 32px !important;
}

h3 {    
    font-size: 28px !important;   
}

h4 {    
    font-size: 18px !important;  
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.f14 {
    font-size: 14px !important;  
}

.f15 {
    font-size: 15px !important;  
}

.f16 {
    font-size: 16px !important;  
}

.f18 {
    font-size: 18px !important;  
}

.f24 {
    font-size: 24px !important;  
}

.f36 {
    font-size: 36px !important;  
}

.f-bold {
    font-weight: 700 !important;
}

.f-normal {
    font-weight: 400 !important;
}

.f-italic {
    font-style: italic !important;
}

/*Colors*/
:root {
    --iconColor: #A0BCD5;
    --blue: #1977CC;
    --lightBlue: #298CE5;
    --greyBlue: #2C4964;
    --darkBlue: #082744;
    --greyTitle: #343A40;
    --textGrey: #848484;
    --highlightGrey: #444444;
    --black: #000;
    --white: #fff;
    --lightgrey: #F1F7FD
}

.color-blue {
    color: var(--blue) !important;
}

.color-lightblue {
    color: var(--lightBlue) !important;
}

.color-greyblue {
    color: var(--greyBlue) !important;
}

.color-darkblue {
    color: var(--darkBlue) !important;
}

.color-greytitle {
    color: var(--greyTitle) !important;
}

.color-grey {
    color: var(--textGrey) !important;
}

.color-highlightgrey {
    color: var(--highlightGrey) !important;
}

.color-black {
    color: var(--black) !important;
}

.color-white {
    color: var(--white) !important;
}

.lightgrey {
    color: var(--lightgrey) !important;
}


/*Common Classes*/

a {
    text-decoration: none !important;    
}

.hover-transition {
    transition: ease 0.5s;
}

.boxed-layout {
    max-width: 1320px;
}

/*Buttons and Links*/

.btn-common {
    color: var(--white) !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-align: center !important;
    padding: 6px 24px !important;    
    border-radius: 50px !important;    
    width: 170px !important;
    display: block !important;
}

.btn-short {
    color: var(--white) !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    text-align: center !important;
    padding: 12px 30px !important;    
    border-radius: 50px !important;        
    display: block !important;
}


.btn-blue {
    background: var(--blue);    
}

.btn-blue:hover {
    background: var(--lightBlue);
    color: var(--white);
}

.btn-lightblue {
    background: var(--lightBlue);    
}

.btn-lightblue:hover {
    background: var(--white);
    color: var(--blue);
}

.link-common {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;    
    font-size: 15px !important;
}

.link-bold {
    color: var(--darkBlue) !important;
}

.link-bold:hover {
    color: var(--blue);    
}

.link-regular {
    color: var(--darkBlue) !important;
    font-weight: 400 !important;
}

.link-regular:hover {
    color: var(--blue) !important;
}

/*Circle Icons*/

.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle-icon-big {
    border: 1px solid var(--iconColor);
    width: 64px;
    min-width: 64px;
    height: 64px;
    min-height: 64px;    
}

.circle-icon-big i {
    font-size: 52px;
}

.circle-icon-big.blue,
.circle-icon-big.white:hover {
    background: var(--blue);
    color: var(--white);
    border-color: var(--blue);
}

.circle-icon-big.white,
.circle-icon-big.blue:hover {
    border-color: var(--iconColor);
    background: var(--white);
    color: var(--blue);    
}

.circle-icon-medium {
    border: 1px solid var(--blue);
    background: var(--blue);
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;    
}

.circle-icon-medium i {
    font-size: 24px;
    color: var(--white);
}

.circle-icon-small {    
    background: var(--iconColor);
    color: var(--white);
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;    
}

.circle-icon-small i {
    font-size: 16px;
}

.circle-icon-small:hover {
    background: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

/*Top Bar*/

.top-bar {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F4FAFF 100%);
}

.top-bar-contact a {
    margin-right: 15px;
}

.top-bar-contact i,
.top-bar-social i {
    margin-right: 15px;
}

.top-bar .row {
    height: 40px;    
}

/*Nav Bar*/

nav {
    background: var(--white) !important;
    height: 100px !important;
}


.navbar-brand img {
    width: 70px;
    height: 29px;
}

.nav-link.active {
    color: var(--blue) !important;
    border-bottom: 2px solid var(--blue);    
}

.navbar-nav li {
    margin-right: 30px;
}


/*Slider*/

.carousel-bg {
    height: 850px;
}

.slider-content .slide-1 {
    background-image: url("/assets/img/slide-01.jpg");    
}

.slider-content .slide-2 {
    background-image: url("/assets/img/slide-02.jpg");    
}

.slider-content .slide-3 {
    background-image: url("/assets/img/slide-03.jpg");    
}

.slider-content .carousel-content {    
    width: 425px;
    position: absolute;
    top: 155px;
    left: 204px;
}

.slider-content .carousel-content.carousel-bottom {
    top: auto;
    bottom: 155px;
}


.slider-content .carousel-content h4,
.slider-content .carousel-content a {
    margin-top: 32px;
}

/*Hightlight Boxes*/

.hightlight-boxes {
    margin-top: -80px;
    position: relative;
    z-index: 100;
}

.hightlight-boxes .row {
    align-items: center;
} 

.hightlight-boxes .hightlight-boxes-mainly {
    background: linear-gradient(304.66deg, #1977CC 38.94%, #3896EA 100%);       
}

.hightlight-boxes .hightlight-boxes-mainly a {
    margin: auto;
}

.hightlight-boxes .hightlight-boxes-content {
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.hightlight-boxes .hightlight-boxes-secundary {
    text-align: center;
    background: var(--white);
}

.hightlight-boxes .hightlight-boxes-secundary i {
    font-size: 40px;
    color: var(--blue);        
}

.hightlight-boxes-content p,
.hightlight-boxes-content h4 {
    margin: 17px 0;
}

/*Company*/

.company-content {
    margin-top: 65px;
}

.company-content .video-modal {
    background-image: url(/assets/img/about-us.jpg);    
    align-items: center;
    justify-content: center;
    background-size: cover;
    min-height: 386px;
}

.company-content .video-modal i {
    font-size: 50px;
    color: var(--white);    
}

.company-content .company-content-infos {
    margin-bottom: 25px;
}

.company-content-list .row p {
    margin-bottom: 10px;
}

.company-numbers {
    background: var(--lightgrey);
    margin-top: 60px;
    padding: 45px 0;
    text-align: center;
}

.company-numbers .company-numbers-boxes {
    background: var(--white);
    padding-bottom: 25px;
}

.company-numbers .company-numbers-icon {
    margin-top: -24px;
}

/*Serviços*/

.services {
    text-align: center;
}

.services h2 {
    margin: 60px 0 40px 0;
}

.services .services-boxes {
    background: var(--white);
    border: 1px solid #A0BCD5;
    padding: 80px 20px;
    margin-bottom: 30px;
}

.services .services-boxes h3,
.services .services-boxes p {
    margin-bottom: 16px;
}

.services p {
    margin-bottom: 30px;
}

.services .services-boxes:hover {
    background: var(--blue);        
}

.services .services-boxes:hover .services-boxes-icon {
    background: var(--white) !important;
    color: var(--blue);
}

.services .services-boxes:hover h3,
.services .services-boxes:hover p {
    color: var(--white) !important;
}

.services-boxes .services-boxes-icon {
    margin: auto;
    margin-bottom: 25px;
}


/*Departamentos*/

.department {
    margin-top: 30px;
}

.department p {
    margin: 40px 0 30px;
}

.department .tab-content h3 {
    font-size: 26px !important;
}

.department .nav-pills button {
    background: none !important;
    text-align: left;
    color: var(--darkBlue) !important;
    font-weight: 700;
    padding: 14px 0;
    border-right: 1px solid var(--lightBlue);
    border-radius: 0;
}

.department .nav-pills button:hover,
.department .nav-pills button.active {
    color: var(--blue) !important;
    border-right: 2px solid var(--darkBlue);
}

.department .tab-content p {
    margin: 20px 0 !important;
}

/*Nosso Time*/

.our-team {
    margin-top: 30px;
}

.our-team p {
    margin-top: 40px;
}

.our-team .our-team-boxes {
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px;
    margin: 15px 0;    
}

.our-team .our-team-boxes p {
    margin: 10px 0;    
}

.our-team .our-team-boxes h3 {
    font-size: 26px !important;    
}

.our-team .our-team-boxes .our-team-img img{
    border-radius: 50%;
}

.our-team .our-team-boxes .our-team-social a{
    margin-right: 8px;
}


/*Contato*/

.contact {
    margin-top: 30px;
    text-align: center;
}

.contact p {
    margin-top: 40px;
}

.contact .contact-list {
    text-align: left;
}

.contact .contact-list .container-fluid {
    margin-bottom: 30px;
}

.contact .contact-form {
    background: var(--white);
}

.contact .contact-form ::placeholder {
    font-size: 14px;
    color: var(--iconColor)
}


.contact .contact-form input,
.contact .contact-form textarea {
    border: 1px solid var(--iconColor);
    border-radius: 0%;
    margin-bottom: 16px;    
}


.contact .contact-form input {
    height: 44px;
}

.contact .contact-form textarea {
    height: 84px;
}

.contact .contact-form .contact-submit button {
    border: none;
}

